*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

/* styling the background of the header and the hero */
.nav-hero{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Mapeera_house_or_the_Cemtenary_bank_headquarters.jpg/1200px-Mapeera_house_or_the_Cemtenary_bank_headquarters.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* changing the background image */


/* styling the header */
header{
   
    height: 100px;
}
nav{
    align-items: center;
    height: 100%;
    padding-top: 30px;


}
nav .container{
    display: flex;
    justify-content: right;   
}
nav ul{
    display: flex;
    list-style: none;
    margin-top: 15px;
    
   
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
a:hover{
    color:rgb(199, 199, 248);
}
/* 
styling the logo */
.logo{
 margin-right: 300px;
}


/* styling the search button */
.search-button{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 120px;
}
#menu-search{
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: orange;
    font-weight: 600;
    border: none;
}

/* styling the hero section */
.container-hero{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 20%;
   
}
/* hero text */
.title-hero{
   
   color: azure;
  
}
.title-hero h1{
    margin-bottom: 15px;
}

/* hero buttons */
/* .hero-buttons{
    
} */
.btn{
    padding: 15px;
    border-radius: 7px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin: 20px;
    color: white;
    cursor: pointer;
    border: none;
    
  
}
.b1 { background: #543f89; }
.b2 { background: #0e9f4a; }
.b3 { background: #553d20; }

.btn:hover{
    background-color: #1a1714;
}

/* styling the sub hero page */
.sub-hero{
    height: 400px;
    background-color: rgb(44, 40, 40);
    display: flex;
    padding: 60px;
    gap: 100px;
    justify-content: center;
}

/* styling the text columns */
.sub-hero-text{
    width: 50%;
    padding: 10px;
}
.sub-hero-text h1{
    color: #543f89;
    margin-bottom: 10px;
}
.sub-hero-text h2{
    color: rgb(13, 127, 148);
    margin-bottom: 10px;
}
.sub-hero-text p{
    color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub-hero-button{
    padding: 10px 15px;
    border-radius: 7px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    color: rgb(236, 36, 36);
    cursor: pointer;
    border: none;
}
.sub-hero-button:hover{
    background-color: #a25a11;
    color: white
}
/* styling the image columns */

.sub-hero-image img{
    border-radius: 7px;
    object-fit: cover;
}

/* features sections */
.feature{
    background-color: #1a1714;
    height: 600px;
}

/* feature title */
.feature{
    color: rgb(222, 120, 188);
    text-align: center;
    padding: 20px 30px;
    line-height: 40px;
}

.feature-cards{
  
    display: flex;
    text-align: left;
    gap: 20;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.card button{
    background-color: #a25a11;
    padding: 10px 15px;
    border-radius: 7px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;

}

.card button:hover{
    background-color: #543f89;
}








/* styling the footer section */

.footer-container{
    
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Mapeera_house_or_the_Cemtenary_bank_headquarters.jpg/1200px-Mapeera_house_or_the_Cemtenary_bank_headquarters.jpg");
    background-size: cover;
     padding: 50px;
    color: whitesmoke;
}
.footer{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    
}
.footer-heading h3{
    margin-bottom: 2rem;
}
.footer-heading a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: azure;
}
.footer-heading a:hover{
    color: yellow;
}
